[run]
source = .
omit =
    */migrations/*
    */tests/*
    */blog/asgi.py
    */blog/wsgi.py
    manage.py

[report]
fail_under = 90
show_missing = True
exclude_lines =
    pragma: no cover
    def __str__
    def __repr__
    if self.debug:
    if settings.DEBUG:
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    class .*Meta:
